<div class="container">
  <h1 class="rock-font"><%= @game.name %></h1>
  <p>Started on <%= @game.created_at.strftime("%B %d, %Y") %></p>
  <p id="notice"><%= notice %></p>
  <h3 class="underline">Players:</h3>
  <% if @game.players.any? %>
    <% @game.players.each do |player| %>
      <div class="player-card col-sm-3">
        <div class="player-name">
          <%= player.name %><br>
        </div><br>
        <%= player.dexterity %> / <%= player.vitality %> | <%= player.logic %> / <%= player.willpower %> | <%= player.charisma %> / <%= player.empathy %><br>
          + Features: <%= player.pos_features %><br>
          - Features: <%= player.neg_features %><br>
          Equipment: <%= player.equipment %>
      </div>
    <% end %>
  <% else %>
    <p>No current players, you should create some.</p>
  <% end %>
  <% if game_creator? %>
    <%= link_to "Create Player", new_game_player_path(@game) %>
    <%= link_to 'Edit', edit_game_path(@game) %> |
  <% end %>
  <%= link_to 'Back', root_path %>
</div>