<div class="container">
  <h1 class="rock-font"><%= @game.name %></h1>
  <p>Started on <%= @game.created_at.strftime("%B %d, %Y") %></p>
  <p id="notice"><%= notice %></p>
  <h3 class="underline">Players:</h3>
  <% if @game.players.any? %>
    <% @game.players.each do |player| %>
      <div class="player-card">
        <div class="player-name">
          player.name
        </div><br>

      </div>
    <% end %>
  <% else %>
    <p>No current players. You should create some.</p>
  <% end %>

  <%= link_to 'Edit', edit_game_path(@game) %> |
  <%= link_to 'Back', root_path %>
</div>