<div class="container">
  <p id="notice"><%= notice %></p>
  <h1 class="rock-font"><%= @game.name %></h1>
  <p>Started on <%= @game.created_at.strftime("%B %d, %Y") %></p>
  <p><%= @game.description %></p>
  <h3 class="underline">Players:</h3>
  <% if @game.players.any? %>
    <% @game.players.each do |player| %>
      <div class="player-card col-lg-3 col-sm-12">

        <div class="player-name">
          <%= player.name %>
        </div>

        <div class="stats">
          <span class="phys">
            Dex <%= player.dexterity %> / <%= player.vitality %> Vit
          </span>
          <span class="ment">
            Log <%= player.logic %> / <%= player.willpower %> WPow
          </span>
          <span class="soc">
            Char <%= player.charisma %> / <%= player.empathy %> Emp
          </span>
        </div>

        <div class="features">
          + Features: <%= player.pos_features %><br>
          - Features: <%= player.neg_features %><br>
          Equipment: <%= player.equipment %>
        </div>
      </div>
    <% end %>
  <% else %>
    <p>No current players, you should create some.</p>
  <% end %>
  <% if game_creator? %>
    <%= link_to "Create Player", new_game_player_path(@game) %>
    <%= link_to 'Edit', edit_game_path(@game) %> |
  <% end %>
  <%= link_to 'Back', root_path %>
  <% if @game.hooks.any? %>
    <h3 class="underline">Hooks:</h3>
    <% @game.hooks.each do |hook| %>
      <div class="col-lg-12">
        <p class="hook"><%= hook.description %></p>
      </div>
    <% end %>
  <% end %>
</div>